<div class="container">
    <div class="table-container">
      <h2>Book List</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          @for (book of books(); track book.id) {
            <tr>
              <td>{{ book.id }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.year }}</td>
              <td>{{ book.author }}</td>
            </tr>
          }
        </tbody>
      </table>
  
      <div class="pagination-buttons">
        <button class="btn btn-primary" (click)="loadPrevious()" [disabled]="!previousUrl()">Previous</button>
        <button class="btn btn-primary" (click)="loadNext()" [disabled]="!nextUrl()">Next</button>
      </div>
    </div>
  </div>
  